@page "/{ChallengeId:int?}"
@inject NavigationManager NavMan
@using Ellabit.Challenges
<PageTitle>Ellabit</PageTitle>

<center><MudText Typo="Typo.h2" Color="Color.Primary"><strong>Ellabit</strong> - The interactive C# coding app.</MudText></center>
<MudCard Style="padding: 5px; margin: 5px;">
    <MudCardContent>
        <MudPaper Width="100%">

            <div class="explainList">
                <div class="explain">
                    <MudIcon Icon="@Icons.Material.Filled.Bookmark" Color="Color.Secondary" />
                    <MudText Color="Color.Primary">Don't feel overwhelmed because there is too much to learn.</MudText>
                </div>
                <div class="explain">
                    <MudIcon Icon="@Icons.Material.Filled.Bookmark" Color="Color.Secondary" />
                    <MudText Color="Color.Primary">Do a little at a time.</MudText>
                </div>
                <div class="explain">
                    <MudIcon Icon="@Icons.Material.Filled.Bookmark" Color="Color.Secondary" />
                    <MudText Color="Color.Primary">You will be given small concepts to learn and demonstrate.</MudText>
                </div>
                <div class="explain">
                    <MudIcon Icon="@Icons.Material.Filled.Bookmark" Color="Color.Secondary" />
                    <MudText Color="Color.Primary">Feel accomplished by doing many challenges.</MudText>
                </div>
            </div>
        </MudPaper>

    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Click on a challenge to get started.</MudButton>
    </MudCardActions>
</MudCard>

<div class="d-flex flex-grow-1 gap-4">
    <MudPaper Class="flex-initial d-flex" Width="50%" Elevation="0" >

        <MudSelect Dense="true" T="string" Label="Tag" Variant="Variant.Outlined" @bind-Value="@SelectedTagHeader" SelectedValuesChanged="@OnSelectedTagHeaderValueChanged" Clearable="true">
            @foreach (var tag in Tags.Keys.OrderBy(t => t))
            {        
                <MudSelectItem Value="@tag" />
            }
        </MudSelect>
    </MudPaper>

    <MudPaper Class="flex-initial d-flex" Width="50%" Elevation="0" >
        <MudSelect Dense="true" T="string" Label="Tag" Variant="Variant.Outlined" @bind-Value="@SelectedTagDetail" SelectedValueChanged="@OnSelectedTagDetailValueChanged" Clearable="true">
            @if (!string.IsNullOrEmpty(SelectedTagHeader))
            {
                @foreach (var tag in Tags[SelectedTagHeader].OrderBy(v => v))
                {
                    <MudSelectItem Value="@tag" />
                }
            }
        </MudSelect>
    </MudPaper>
</div>

@if (Challenges != null)
{
    <MudPaper Width="100%" Style="padding: 5px; margin: 5px;">
        <table>
            @foreach (var challenge in FilterChallenges(Challenges))
            {
                <tr>
                    <td style="width:24px;">@(Challenges.IndexOf(challenge) + 1)</td>
                    <td @onclick="()=>OnChallange(Challenges.IndexOf(challenge))"><a href="javascript: void(0)">@challenge.Header</a></td>
                </tr>
            }
        </table>
    </MudPaper>
}

@code {
    [Parameter]
    public int? ChallengeId { get; set; }
    [Inject]
    private Challenges? Challenges { get; set; }

    private string SelectedTagHeader = string.Empty;
    private string SelectedTagDetail = string.Empty;
    private Dictionary<string, List<string>> Tags { get; set; } = new Dictionary<string, List<string>>();

    public void OnChallange(int idx)
    {
        NavMan.NavigateTo($"challenge/{idx}");
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (ChallengeId != null)
        {
            NavMan.NavigateTo($"challenge/{ChallengeId}");
            return;
        }
        if (Tags.Count == 0)
        {
            var tags = Challenges
                ?.SelectMany((c) => c.Tags)
                ?.GroupBy(o => CleanTagHeader(o.Key))
                ?.ToDictionary(
                    g => CleanTagHeader(g.Key)
                    , g => g
                        .Select(r => r.Value)
                        .Distinct()
                        .OrderBy(d => d)
                        .ToList()
                );

            if (tags != null)
            {
                Tags = tags;
                StateHasChanged();
            }
        }
    }
    private void OnSelectedTagHeaderValueChanged() 
    {
        SelectedTagDetail = string.Empty;
        StateHasChanged();
    }
    private void OnSelectedTagDetailValueChanged()
    {
        StateHasChanged();
    }
    private List<IChallenge> FilterChallenges(Challenges challenges)
    {
        var result = new List<IChallenge>();
        if (!string.IsNullOrEmpty(SelectedTagHeader))
        {
            if (!string.IsNullOrEmpty(SelectedTagDetail))
            {
                result = challenges
                    .Where(c => 
                        { 
                            return c.Tags.Any(ct => ct.Key == CleanTagHeader(SelectedTagHeader) && ct.Value == SelectedTagDetail);
                        })
                     .ToList();
                return result;
            }

            result = challenges
                .Where(c =>
                    {
                        return c.Tags.Any(ct => ct.Key == CleanTagHeader(SelectedTagHeader));
                    })
                 .ToList();
            return result;

        }
        return challenges;
    }
    private string CleanTagHeader(string tagHeader)
    {
        int pos = tagHeader.IndexOf(":");
        if (pos >= 0)
        {
           return tagHeader.Substring(0, pos);
        }
        return tagHeader;
    }
}

