@page "/{ChallengeId:int?}"
@inject NavigationManager NavMan
@using Ellabit.Challenges
<PageTitle>Ellabit</PageTitle>
<center>
    <div>
        <img style=" width: 64px; height: 64px;" src="icon-512.png" />
    </div>
</center>
<div>
    <img style=" width: 64px; height: 64px;" src="./icon-512.png" />
</div>
<div>
    <img style=" width: 64px; height: 64px;" src="~/icon-512.png" />
</div>
<center><MudText Typo="Typo.h2" Color="Color.Primary"><strong>Ellabit</strong> - The interactive C# coding app.</MudText></center>
<MudCard Style="padding: 5px; margin: 5px;">
    <MudCardContent>
        <MudPaper Width="100%">

            <div class="explainList">
                <div class="explain">
                    <MudIcon Icon="@Icons.Material.Filled.Bookmark" Color="Color.Secondary" />
                    <MudText Color="Color.Primary">Don't feel overwhelmed because there is too much to learn.</MudText>
                </div>
                <div class="explain">
                    <MudIcon Icon="@Icons.Material.Filled.Bookmark" Color="Color.Secondary" />
                    <MudText Color="Color.Primary">Do a little at a time.</MudText>
                </div>
                <div class="explain">
                    <MudIcon Icon="@Icons.Material.Filled.Bookmark" Color="Color.Secondary" />
                    <MudText Color="Color.Primary">You will be given small concepts to learn and demonstrate.</MudText>
                </div>
                <div class="explain">
                    <MudIcon Icon="@Icons.Material.Filled.Bookmark" Color="Color.Secondary" />
                    <MudText Color="Color.Primary">Feel accomplished by doing many challenges.</MudText>
                </div>
            </div>
        </MudPaper>

    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Click on a challenge to get started.</MudButton>
    </MudCardActions>
</MudCard>

@if (Challenges != null)
{
    <MudPaper Width="100%" Style="padding: 5px; margin: 5px;">
        <table>
            @foreach (var challenge in Challenges)
            {
                <tr>
                    <td style="width:24px;">@(Challenges.IndexOf(challenge) + 1)</td>
                    <td @onclick="()=>OnChallange(Challenges.IndexOf(challenge))"><a href="javascript: void(0)">@challenge.Header</a></td>
                </tr>
            }
        </table>
    </MudPaper>
}

@code {
    [Parameter]
    public int? ChallengeId { get; set; }
    [Inject]
    private Challenges? Challenges { get; set; }
    public void OnChallange(int idx)
    {
        NavMan.NavigateTo($"challenge/{idx}");
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (ChallengeId != null)
        {
            NavMan.NavigateTo($"challenge/{ChallengeId}");
        }
    }
}

