@page "/{ChallengeId:int?}"
@inject NavigationManager NavMan
@using Ellabit.Challenges
<PageTitle>Ellabit</PageTitle>

<center><MudText Typo="Typo.h2" Color="Color.Primary"><strong>Ellabit</strong> - The interactive C# coding app.</MudText></center>
<MudCard Style="padding: 5px; margin: 5px;">
    <MudCardContent>
        <MudPaper Width="100%">
            <MudList Clickable="false" Dense="true" DisableGutters="true">
                <MudListItem Text="Don't feel overwhelmed because there is too much to learn." Icon="@Icons.Filled.Bookmark" IconColor="Color.Primary" />
                <MudListItem Text="Do a little at a time." Icon="@Icons.Filled.Bookmark" IconColor="Color.Primary" />
                <MudListItem Text="You will be given small concepts to learn and demonstrate." Icon="@Icons.Filled.Bookmark" IconColor="Color.Primary" />
                <MudListItem Text="Feel accomplished by doing many challenges." Icon="@Icons.Filled.Bookmark" IconColor="Color.Primary" />
            </MudList>
        </MudPaper>

    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Click on a challenge to get started.</MudButton>
    </MudCardActions>
</MudCard>

@if (Challenges != null)
{
    <MudPaper Width="100%" Style="padding: 5px; margin: 5px;">
    <table>
        @foreach (int k in Challenges.Keys)
        {
            <tr>
                <td style="width:24px;">@k</td>
                <td @onclick="()=>OnChallange(k)"><a href="javascript: void(0)">@Challenges[k].Header</a></td>
            </tr>
        }    
    </table>
    </MudPaper>
}

@code {
    [Parameter]
    public int? ChallengeId { get; set; }
    [Inject]
    private Challenges? Challenges { get; set; }
    public void OnChallange(int idx)
    {
        NavMan.NavigateTo($"challenge/{idx}");
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (ChallengeId != null)
        {
            NavMan.NavigateTo($"challenge/{ChallengeId}");
        }
    }
}

